@media screen and (max-width:1000px) {
  
   .container {
   	display: flex !important;
   	flex-direction: column !important;
   }
#nav {
	
   
    margin-right: -20px !important;
} 

  #img3 {
   width:5% !important;
  margin-left: 0 !important; 
   
}
.titulo {
width: auto !important;
background-color:#cce0ff !important ;
 }
   
  
  #izquierda {
  	width: auto ;
   margin: auto  ;
   }

  .row {
  	width: auto !important; 
  }

  #derecha {
  	width: 80% !important;
   margin-left: 10% !important;
   margin-top: 10% !important;
  
  }


button {
 	width: 115% !important; 
    margin-left: 20% !important;
   padding: 5%;
 }
#divCopiar {
  margin-top: auto !important;
}
 #copiar {
 	margin-top: 500px !important;
 	width: 70% !important; 
    position: absolute !important;
    margin-left: -1px !important;
 }



footer > h3 {
	
    margin-left: 15% !important;
    font-size:20px !important;
}

#img1 {
	display: none;
}
#tex1 {
	width: 150% !important;
}
#nav {
	margin-left:50px !important; 

}

}



* {
	margin: 0;
	padding: 0;
}

#nav {
   position: absolute;
   margin-top: -50px;
   margin-left: 500px;
   font-style: italic;
   font-weight: bold;
   letter-spacing: 5px;
   font-size: 250%;
}


body {
	background-color:#cce0ff ;
    font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
    margin-top: 2%;
}

.row {
	width:50%;
	height: 650px;
	border-radius: 20px;
}
#izquierda {
	
    background-color: #cce0ff ;
    margin-left: 5%;
    width: 100%;

}
#derecha {
	box-shadow: 2px 2px 2px black;
    background-color: #FFFFFF;
    width:26%;
    margin-right: 3%;
}


#tex1 {
	border:none;
	margin: 8%;
	height: 80%;
	width: 67%;
	margin-left: 15%;
    color:#005580;
    font-size: 20px !important;
    resize: none;
    background-color:#cce0ff ;
    }
     
  
 #tex1::placeholder {
   font-size:25px; 
   color:#005580 ;	  	  
} 

button {
	width: 40%;
	height:45%;
	margin-left:5% ;
	margin-top: 2.5%;
	border-radius:30px;
}
#bto-1 {
	background-color: #005580;
    color:#e6f3ff ;
    transition: 0.8s;
    font-size: 20px;
    border:none;
}
#bto-1:hover {
	transform: scale(1.05);
	filter: brightness(1.20);
}
#bto-2 {
	background-color: #e6f3ff;
    color: #005580;
    transition: 0.8s;
    font-size: 20px;
    border-color:#005580;
}
#bto-2:hover {
   filter: brightness(1.20);
    transform: scale(1.05);
}
#copiar {
	transition: 0.8s;
    font-weight:bold;
    width: 92%;
    height: 70px; 
    background-color:#e6f3ff;
    color:#005580;
    border-color:#005580;
    font-size:12px;
}
#copiar:hover {
  filter: brightness(1.20);
    transform: scale(1.02);
}

footer {
	margin-top: 2%;
	height: 12%;
    background-color:#e6f3ff;
}
footer > h3 {
	font-style: italic; 
	font-size: 100%;
	margin-left: 35%;
}
span {
	margin-left:5%; 
	position: relative;
    
}
textarea {
	width: 18%;
	height: 60%;
    border:none;
    outline: none;
}
#text {
	position:absolute;
	resize: none;
    background-color:#FFFFFF;
    font-size: 20px !important;
    color:#005580;
    border-radius: 20px; 
    margin-top: 2%;
}
#text::placeholder {
 padding-top: 50px: 
}

img {
	width: 95%;
	margin-right: 10%;
	height: 50%;
	margin-top: 30%;
}
p {
	font-size: 20px;
	margin-left: 20px;
	font-style: italic;
	margin-top: 20px;
}

#idRow {
   background-color:#cce0ff ;
   height: 80%;
}
.titulo {
	background-color: #e6f3ff;
	height: 50px;
}
h6 {
	margin-left:8%;
	font-weight:bold;
}
#h1 {
	font-size: 25px;
	font-weight: bolder;
	margin-top:10%;
	margin-left: 5%; 
}
#divCopiar {
	margin-top: 220%;
}
#divBotones {
	background-color: #cce0ff;
	height: 20%;
}
#divDerecha {
	width:5%;
	background-color:#cce0ff; 
}
#img3 {
	width: 2%;
	margin-left: 10%;
	height: 100%;
	margin-top: 0;
}